ol, ul {
    color: darkorchid;
}
html {
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 20px;
    width: auto;
    color: firebrick;
    text-shadow: 3px 3px 1px black; 
}
p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0,5px;
}
h2 {
    font-size: 30px;
}
html {
    background-color: #F9F9BC;
}
body {
    width: 900px;
    margin: auto auto;
    background-color: #F7F7D4;
    padding: 0 40px 40px 40px;
    border: 5px solid black;
}
img {
    display: block;
    margin: auto;
}